@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Prompt:wght@300&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #E95793;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background: white;
}
.hidden{
opacity: 0;
transform: translate(-100%,-100%);
transition: all 1.5s;
filter: blur(5px);
}
.show{
opacity: 1;
filter: blur(0);
transition: all 1.5s;

translate: translate(0,0);
}
p{
    font-size: 1.5rem;
    text-align: center;
    max-width: 80vw;
    color: #610C9F;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
::-webkit-scrollbar {
    display: none;
}

button {
    font-size: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 0;
    background: #940B92;
    color: white;
}
.heart {
  display: inline-block;
  width: 2rem;
  margin: 0.25rem;
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}
.heart-holder{
    display: flex;
    flex-direction: row;
}
h1{
    color: red;
}