
  @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Reem+Kufi:wght@400;500;600&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #E95793;
    color: rgb(29, 9, 9);
    font-family: 'Bubblegum Sans', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    padding: 0;
    margin: 0;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background: white;
}
.hidden{
opacity: 0;
transform: translate(-100%,-100%);
transition: all 1.5s;
filter: blur(5px);
}
.show{
opacity: 1;
filter: blur(0);
transition: all 1.5s;

translate: translate(0,0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
::-webkit-scrollbar {
    display: none;
}


h1{
    color: rgb(29, 9, 9);
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.8rem;
    text-align: center;
}